.btn {
    text-align: center;
    align-items: center;
    padding-top: 4px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px rgb(57, 52, 52);
}

.btn:hover {
    background-color: rgb(62, 57, 49);
    color: var(--white)
}