.base {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  width: 70%; 
  margin: 20px auto;

  transition: background-color 0.7s;
  background-blend-mode: multiply;
  background-image: url('../../assets/20124598_6218342.jpg');
  background-position: center;
  background-size: 40% auto;
  background-repeat: no-repeat;
}

.wrapper {
  background-color: var(--white);
  background-image: url('../../assets/20124598_6218342.jpg');
}

.wrapperDark {
  background-color: rgb(88, 79, 79);
  color: var(--white);
}