.wrapper {
    display: flex;
    justify-content: center;
    width: 59.5%;
    text-align: center;
    margin: 0 auto;
}

.item {
    box-shadow: 2px 2px 3px black;
    position: relative;
    width: 33%;
    margin: 2px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-color: rgb(118, 117, 117);
    cursor: pointer;
    border-radius: 8px;
}

.item:hover {
    color:rgb(232, 232, 232);
}

.item::after {
    position: absolute;
    content: "";
    right: 1px;
    left: 1px;
    bottom: 0px;
    width: 99%;
    height: 5px;
    background-color: rgb(232, 232, 232);
    visibility: hidden;
    transform: visibility 1s ease;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 8px;
}

.item:hover::after {
    visibility: visible;
}

.active {
    background-color: rgb(73, 73, 73);
    color: rgb(232, 232, 232);
}

@media screen and (max-width: 570px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .item {
        width: 50%;
        margin-bottom: 5px;
    }
}