.wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: black;
  margin-bottom: 0px;
  border-radius: 10px;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 100;
}

.content {
  box-shadow: 0 0 2px 10000px rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-image: url('../../assets/20769895_Sandy_Gen-03_Single-07.jpg');
  background-position: center;
  background-size: 50% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  width: 60%;
  height: 50%;
  background-color: rgb(154, 154, 154);
  border-radius: 10px;
  text-shadow: 2px 2px 2px white;
  transition: background-image 0.1s ease;
}

.textarea {
  margin: 10px;
  width: 60%;
  height: 20%;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  color: white;
  border: none;
  resize: none;
  outline: none;
}